body {
	padding: 25px;
	background-color: rgb(31, 31, 31);
	color: white;
	font-size: 25px;
}

a:link {
	color: rgb(241, 239, 226);
	text-decoration: none;
}

a:visited {
	color: rgb(232, 61, 61);
	text-decoration: none;
}

a:hover, a:active {
	color: rgb(95, 197, 220);
	text-decoration: none;
	font-weight: bold;
}

.square_index {
	list-style-type: square;
}

/* really liked this detail */
ol {
	list-style-type: upper-roman;
}

.tachar{
	text-decoration:line-through;
}

table {
	border-collapse: collapse;
	border: 1px solid white;
	letter-spacing: 1px;
}

td, th {
	border: 1px solid white;
	padding: 3px 5px;
}

textarea {
	font: 1em;
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	border: 1px solid #999;
}

.formulario_caja{
	margin-bottom: 2em;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 0.5em;
}
