body {
	padding: 25px;
	background-color: rgb(31, 31, 31);
	color: white;
	font-size: 25px;
}

a:link {
	color: rgb(241, 239, 226);
	text-decoration: none;
}

a:visited {
	color: rgb(232, 61, 61);
	text-decoration: none;
}

a:hover, a:active {
	color: rgb(95, 197, 220);
	text-decoration: none;
	font-weight: bold;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: upper-roman;
}

.tachar{
	text-decoration:line-through;
}